<div
  class="h-100 bg-white d-flex flex-column justify-content-start align-items-center pt-5"
>
  <mat-card class="bg-white col-10 col-md-4 border mat-elevation-z0">
    <div class="row mx-2">
      <h5 class="text-primary">
        Admin Core&trade;
        <br />
        <small class="text-muted">{{ "Reset Password" }}</small>
      </h5>
    </div>
    <form
      *ngIf="show_email_form && show_login_form"
      #emailForm="ngForm"
      class="d-flex flex-column mt-4"
    >
      <div class="ml-1 mb-2 row">
        <mat-slide-toggle
          *ngIf="login == '' && email == ''"
          class="mr-3"
          color="primary"
          [(ngModel)]="is_verify_username"
          name="toggle"
        ></mat-slide-toggle>
        <div   *ngIf="login == '' && email == ''" class="text-muted">
          <div *ngIf="!is_verify_username">
          Toggle to reset password with User Name </div>
          <div *ngIf="is_verify_username">
            Toggle back to reset password with Email </div>
        
        </div>
      </div>

      <mat-form-field *ngIf="is_verify_username" appearance="outline">
        <mat-label>{{"User Name" | translate}}</mat-label>
        <input
          matInput
          type="login"
          placeholder="User Name"
          [(ngModel)]="login"
          name="login"
          #usernameCtrl="ngModel"
        />
        <mat-error
          *ngIf="!usernameCtrl.hasError('required') && usernameCtrl.hasError('user name')"
          >Invalid Email</mat-error
        >
      </mat-form-field>

      <mat-form-field *ngIf="!is_verify_username" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Email"
          [(ngModel)]="email"
          name="email"
          #emailCtrl="ngModel"
        />
        <mat-error
          *ngIf="!emailCtrl.hasError('required') && emailCtrl.hasError('email')"
          >Invalid Email</mat-error
        >
      </mat-form-field>
      <!-- <div class="text-muted ml-1" *ngIf="is_verify_username">
        Change password with User Name
      </div>
      <div class="text-muted ml-1" *ngIf="!is_verify_username">
        Change password with Email
      </div> -->

      <div>
        <button
          (click)="getOtp(emailForm)"
          mat-mini-fab
          color="primary"
          class="float-right"
        >
          <i class="fas fa-arrow-right"></i>
        </button>
        <button
          class="float-right mr-2"
          (click)="cancel()"
          mat-mini-fab
          color="warn"
          data-toggle="tooltip"
          title="Cancel"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
    </form>
    <form
      *ngIf="show_password_form"
      #otpForm="ngForm"
      class="d-flex flex-column"
    >
      <p class="small text-danger mb-4 mt-1">
        ** OTP has been sent to {{ user.email }}
      </p>

      <mat-form-field appearance="outline">
        <mat-label>OTP</mat-label>
        <input
          matInput
          type="number"
          placeholder="OTP"
          [(ngModel)]="otp"
          name="otp"
          required
          #otpCtrl="ngModel"
        />
        <mat-error *ngIf="!otpCtrl.hasError('required')">Invalid OTP</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Password"
          [(ngModel)]="reset_password.password"
          name="password"
          required
          #passwordCtrl="ngModel"
        />
        <mat-error *ngIf="!passwordCtrl.hasError('required')"
          >Invalid Password</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Confirm Password"
          [(ngModel)]="reset_password.confirm_password"
          name="confirm_password"
          required
          [customValidator]="validator_service.formConfirmPassword"
          #confirmPasswordCtrl="ngModel"
        />
        <mat-error
          *ngIf="
            !confirmPasswordCtrl.hasError('required') &&
            confirmPasswordCtrl.hasError('mismatch')
          "
          >password mismatch</mat-error
        >
      </mat-form-field>
      <button
        (click)="resetPassword(otpForm)"
        mat-flat-button
        color="primary"
        class="align-self-end"
      >
        Submit
      </button>
      <div class="gap-3">
        <h6 class="pb-2">{{ "Password Policy :" | translate }}</h6>
        <div class="text-muted">
          <div>
            <small
              >* {{ "Password should be of minimum length " | translate
              }}{{ showPolicy.min_length }}</small
            >
          </div>
          <div>
            <small
              >* {{ "Maximum length of Password allowed is " | translate
              }}{{ showPolicy.max_length }}</small
            >
          </div>
          <div *ngIf="showPolicy.min_uppercase_reqd">
            <small
              >* {{ "Password requires minimum " | translate
              }}{{ showPolicy.min_uppercase_reqd ? "1" : ""
              }}{{ " Uppercase" | translate }}</small
            >
          </div>
          <div *ngIf="showPolicy.min_lowercase_reqd">
            <small
              >* {{ "Password requires minimum " | translate
              }}{{ showPolicy.min_lowercase_reqd ? "1" : ""
              }}{{ " Lowercase" | translate }}</small
            >
          </div>

          <div *ngIf="showPolicy.min_numerals_reqd">
            <small
              >* {{ "Password requires minimum " | translate
              }}{{ showPolicy.min_numerals_reqd ? "1" : ""
              }}{{ " Numeric" | translate }}</small
            >
          </div>
          <div *ngIf="showPolicy.min_special_characters_reqd">
            <small
              >* {{ "Password requires minimum " | translate
              }}{{ showPolicy.min_special_characters_reqd ? "1" : ""
              }}{{ " Special Character" | translate }}</small
            >
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</div>
