<div>
 <div class="d-flex mb-3">
  <!-- <button mat-flat-button color="text-primary" (click)="onSelect()">Create</button>
  <button mat-flat-button color="text-primary" (click)="addImage()">Image</button> -->
  <button mat-flat-button color="primary" class="mr-2" id="fabricCanvasDeleteButton" (click)="onDelete()">Delete</button>
  <button mat-flat-button color="primary" class="mr-2" id="fabricCanvasToJsonButton" (click)="convertToJSOn()">TO JSON</button>
  <button mat-flat-button color="primary" class="mr-2" id="fabricCanvasLoadButton" (click)="loadJSONData()">Load</button>
</div>
<div class="canvas-wrapper border" style="background-color: #d6d6c2;">
 
  <canvas id="canvas" ></canvas>
</div>
</div>
