<form
  #passwordpolicyForm="ngForm"
  class="d-flex flex-column align-items-center py-3"
>
  <!--<div class="px-1 pt-3 pb-1 h-100">-->
  <mat-card
    class="p-3 mat-elevation-z2 h-100 d-flex flex-column col-11 col-md-6"
  >
    <div class="d-flex justify-content-end mb-2">
      <!-- <mat-icon svgIcon="passwordpolicy" class="custom-icon"></mat-icon>&nbsp;&nbsp; -->
      <!-- <p class="h5 flex-grow-1">{{"Password Policy" | translate}}</p> -->
      <!-- <button mat-flat-button color="primary" (click)="save(passwordpolicyForm)">
        Save
      </button> -->

      <button
        *ngIf="user_permission_guard.hasCanManagePasswordPolicyPermission()"
        class="mr-2"
        (click)="save(passwordpolicyForm)"
        mat-mini-fab
        style="background-color: green; color: white"
        data-toggle="tooltip"
        title="Save"
        [disabled]="!passwordpolicyForm.dirty"
        [ngStyle]="{
          'background-color': passwordpolicyForm.dirty ? 'green' : '#8c8c8c'
        }"
        id="passwordPolicySaveButton"
      >
        <i class="fas fa-save" style="font-size: large"></i>
      </button>
    </div>
    <div class="row no-gutters">
      <div class="col-12">
        <mat-form-field appearance="outline" class="col-5">
          <mat-label>{{ "Min length" | translate }}</mat-label>
          <input
            matInput
            placeholder="Min length"
            [(ngModel)]="passwordpolicy.min_length"
            name="min_length"
            type="number"
            (change)="numberValidation('Min', 6, 20)"
            required
            id="passwordPolicyMinLengthInput"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-5 mx-3">
          <mat-label>{{ "Max length" | translate }}</mat-label>
          <input
            matInput
            placeholder="Max length"
            [(ngModel)]="passwordpolicy.max_length"
            name="max_length"
            type="number"
            min="6"
            max="20"
            (change)="numberValidation('Max', passwordpolicy.min_length, 20)"
            required
            id="passwordPolicyMaxLengthInput"
          />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="col-5 col-md-5">
          <mat-label>{{
            "Repeat old password restriction" | translate
          }}</mat-label>
          <input
            matInput
            placeholder="Repeat old password restriction"
            [(ngModel)]="passwordpolicy.repeat_old_password_restriction"
            name="repeat_old_password_restriction"
            type="number"
            required
            id="passwordPolicyRestrictionInput"
          />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="col-5 col-md-5">
          <mat-label
            >{{ "Password change frequency(Days)" | translate }}
          </mat-label>
          <input
            matInput
            placeholder="Password change frequency(Days)"
            [(ngModel)]="passwordpolicy.password_change_frequency"
            name="password_change_frequency"
            type="number"
            required
            id="passwordPolicyRestrictionFrequencyInput"
          />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="col-5 col-md-5">
          <mat-label>{{
            "Failed login attempts allowed" | translate
          }}</mat-label>
          <input
            matInput
            placeholder="Failed login attempts allowed"
            [(ngModel)]="passwordpolicy.failed_login_attempts_allowed"
            name="failed_login_attempts_allowed"
            type="number"
            required
            id="passwordPolicyFailedLoginInput"
          />
        </mat-form-field>
      </div>
      <div class="col-12 pb-2">
        <mat-checkbox
          class="col-5 col-md-5 label-field-text-smaller"
          [(ngModel)]="passwordpolicy.enforce_password_change"
          name="enforce_password_change"
          id="passwordPolicyEnforcePasswordInput"
        >
          {{ "Enforce password change?" | translate }}
        </mat-checkbox>
      </div>
      <div class="col-12 pb-2">
        <mat-checkbox
          class="col-4 col-md-4 label-field-text-smaller"
          [(ngModel)]="passwordpolicy.can_allow_uppercase"
          (ngModelChange)="onUppercaseChange($event)"
          name="can_allow_Uppercase"
          id="passwordPolicyCanAllowInput"
        >
          {{ "Allow uppercase?" | translate }}
        </mat-checkbox>
        <mat-checkbox
          *ngIf="passwordpolicy.can_allow_uppercase"
          class="col-4 col-md-4 label-field-text-smaller"
          [(ngModel)]="passwordpolicy.min_uppercase_reqd"
          name="min_uppercase_reqd"
          color="primary"
          id="passwordPolicyUpperCaseInput"
        >
          {{ "Minimum 1 uppercase required" | translate }}
        </mat-checkbox>
      </div>
      <div class="col-12 pb-2">
        <mat-checkbox
          class="col-4 col-md-4 label-field-text-smaller"
          [(ngModel)]="passwordpolicy.can_allow_lowercase"
          (ngModelChange)="onLowercaseChange($event)"
          name="can_allow_lowercase"
          id="passwordPolicyCanAllowLowerCaseInput"
        >
          {{ "Allow lowercase?" | translate }}
        </mat-checkbox>
        <mat-checkbox
          *ngIf="passwordpolicy.can_allow_lowercase"
          class="col-4 col-md-4 label-field-text-smaller"
          [(ngModel)]="passwordpolicy.min_lowercase_reqd"
          name="min_lowercase_reqd"
          color="primary"
          id="passwordPolicyMinLowerCaseInput"
        >
          {{ "Minimum 1 lowercase required" | translate }}
        </mat-checkbox>
      </div>
      <div class="col-12 pb-2">
        <mat-checkbox
          class="col-4 col-md-4 label-field-text-smaller"
          [(ngModel)]="passwordpolicy.can_allow_numerals"
          (ngModelChange)="onNumeralsChange($event)"
          name="can_allow_numerals"
          id="passwordPolicyCanAllowNumbersInput"
        >
          {{ "Allow numerals?" | translate }}
        </mat-checkbox>
        <mat-checkbox
          *ngIf="passwordpolicy.can_allow_numerals"
          class="col-4 col-md-4 label-field-text-smaller"
          [(ngModel)]="passwordpolicy.min_numerals_reqd"
          name="min_numerals_reqd"
          color="primary"
          id="passwordPolicyMinNumberalsInput"
        >
          {{ "Minimum 1 numeral required" | translate }}
        </mat-checkbox>
      </div>
      <div class="col-12 pb-2">
        <mat-checkbox
          class="col-4 col-md-4 label-field-text-smaller"
          [(ngModel)]="passwordpolicy.can_allow_special_characters"
          (ngModelChange)="onSpecialCharactersChange($event)"
          name="can_allow_special_characters"
          id="passwordPolicyCanAllowSpecialCharactersInput"
        >
          {{ "Allow special characters?" | translate }}
        </mat-checkbox>
        <mat-checkbox
          *ngIf="passwordpolicy.can_allow_special_characters"
          class="col-4 col-md-4 label-field-text-smaller"
          [(ngModel)]="passwordpolicy.min_special_characters_reqd"
          name="min_special_characters_reqd"
          color="primary"
          id="passwordPolicyMinSpecialCharactersInput"
        >
          {{ "Minimum 1 special character required" | translate }}
        </mat-checkbox>
      </div>
    </div>
  </mat-card>
  <!--</div>-->
</form>
