#page-content {
    margin: 0 auto;
    text-align: center;
    padding-top: 10%;
  }
  #page-content p a {
    // color: #e82a62;
    color: white;
  }
  #page-content p a:hover,
  #page-content p a:focus {
    text-decoration: underline;
  }