<div class="h-100 bg-white d-flex flex-column justify-content-start align-items-center pt-5">
  <mat-card class="p-3 bg-white col-10 col-md-4 mt-5 border mat-elevation-z0">
    <h5 class="text-primary">
      Change Password
      <br />
    </h5>
    <form #changePasswordForm="ngForm" class="d-flex flex-column">
      <mat-form-field appearance="outline">
        <mat-label>Current Password</mat-label>
        <input matInput
               type="password"
               placeholder="old Password"
               id="passwordOldPasswordInput"
               [(ngModel)]="change_password.pre_password"
               name="password"
               required
               #passwordCtrl="ngModel" />
        <mat-error *ngIf="!passwordCtrl.hasError('required')">Invalid Password</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput
               type="password"
               placeholder="Password"
               id="passwordNewPasswordInput"
               [(ngModel)]="change_password.password"
               name="password"
               required
               #passwordCtrl="ngModel" />
        <mat-error *ngIf="!passwordCtrl.hasError('required')">Invalid Password</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input type="password"
               matInput
               placeholder="Confirm Password"
               id="passwordConfirmPasswordInput"
               [(ngModel)]="change_password.confirm_password"
               name="confirm_password"
               required
               #confirmPasswordCtrl="ngModel" />
        <mat-error *ngIf="
            !confirmPasswordCtrl.hasError('required') &&
            confirmPasswordCtrl.hasError('mismatch')
          ">password mismatch</mat-error>
      </mat-form-field>
      <button (click)="changePassword(changePasswordForm)"
              mat-stroked-button
              id="passwordSubmitButton"
              color="primary">
        Submit
      </button>
    </form>
  </mat-card>
</div>
