::ng-deep .auto-width {
  .mat-form-field {
    width: auto !important;
  }
  .mat-select-value {
    max-width: 100%;
    width: auto !important;
  }
  .mat-form-field-infix {
    max-width: 100%;
    width: auto !important;
  }
}
::ng-deep .mat-select-arrow-wrapper {
    display: table-cell;
    vertical-align: middle;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
}